/*
 * Copyright (c) 2019, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
 *
 * Entgra (pvt) Ltd. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.cluster{
    border-radius: 5px;
    background-color: white;
    padding: 24px;
    margin: 14px 0 14px 0;
}

.cluster .products-row{
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 24px;
}

.cluster .product{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 20px 0;
    position: relative;
}

.cluster .product .product-icon{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 180px;
    width: 90px;
}

.cluster .product .title, .cluster .btn-add-new-wrapper .title {
    color: #202124;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 16px;
}

.cluster .product .product-icon img{
    -webkit-align-self: center;
    align-self: center;
    height: 90px;
    /*padding-bottom: 16px;*/
    width: 90px;
    border-radius: 28%;
}

.cluster .product .arrow {
    color: #80868b;
    font-size: 20px;
    position: relative;
    top: 20px;
    width: 36px;
}

.cluster .product .arrow .btn {
    width: 48px;
    height: 48px;
    padding: 12px;
    font-size: 24px;
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    fill: currentColor;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
}

.cluster .product .arrow .btn-right {
    left: -12px;
}

.cluster .product .delete-btn {
    color: #80868b;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: -10px;
}

.cluster .product .delete-btn .btn {
    width: 48px;
    height: 48px;
    padding: 16px 28px 0 0;
    font-size: 24px;
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    fill: currentColor;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
}

.cluster .btn-add-new-wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 180px;
    width: 90px;
    margin: 0 33px;
}

.cluster .btn-add-new{
    -webkit-align-self: center;
    align-self: center;
    height: 90px;
    padding-bottom: 16px;
    width: 90px;
    border-radius: 28%;
}

.cluster .btn-add-new .btn{
    height: 36px;
    padding: 0 23px 0 23px;
    border-width: 1px;
    min-height: 90px;
    width: 90px;
    background-color: transparent;
    border-radius: 28%;
}

.cluster .btn-add-new :hover{
    background-color: rgba(250, 159, 0, 0.2);
    cursor: pointer;
}

.cluster .ant-typography-edit-content{
    width: 200px;
}