/*
 * Copyright (c) 2019, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
 *
 * Entgra (pvt) Ltd. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.logo-image {
    height: 31px;
    margin: 0 5px 16px 24px;
    float: left;
}

.logo-image img{
    height: 35px;
}

.profile{
    float:right;
    margin-right: 2%;
}

.mobile-layout{
    visibility: hidden;
    position: absolute;
}

.mobile-menu-button{
    margin-left: 4%;
    position: fixed;
}

.bar-icon{
    margin-top: 10%;
    font-size: 27px;
}

@media screen and (max-width: 660px) {

    .web-layout{
        visibility: hidden;
    }

    .mobile-layout{
        visibility: visible;
        z-index: 1;
    }

    .mobile-menu-button {
        margin-top: 15px;
    }

    Header{
        position: fixed;
        z-index: 1;
        width: 100%;
    }

    .dashboard-body{
        margin-top: 50px;
    }

    .logo-image {
        margin-left: 20%;
    }

}

@media only screen and (max-height: 350px) {

    .mobile-menu-button{
        margin-top: 15px;
    }

    .dashboard-body{
        margin-top: 10%;
    }

}
